body{ 
    background-color: white;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;  
}

#UI-component{

    background-color: whitesmoke;
    color:darkslategray;
    width: fit-content;
    height: fit-content;
    
    border: 2px solid darkseagreen;
    border-radius: 25px;

    text-align: left;
    display:flex;
    flex-direction: row;

    margin: 0 auto;
    padding: 40px;    
}

#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

label {
    font-size: 1.0em;
    margin: 9px 9px 3px ;
   
    padding:0px;
    text-align: left;
    
}

#p1{
    margin:0;
    padding: 2px 7px;
    color:crimson;
    font-weight: 800;
    font-size: 0.85em;
}

#email{
    color:crimson;
 
    border: 1px solid crimson;
}

input {
    font-size: 1.05em;
   
    margin:2px 5px 8px 5px;
    padding:4px 8px;
    
    border-radius: 7px;

    width:320px;
    height:32px;
    
}

button{
    background-color: black;
    color:white;
    font-size: 1.15em;
    padding: 5px 8px;
    border: none;
    border-radius: 7px;

    margin:30px 5px;
    padding: 5px 14px;

    width:340px;
    height:42px;
}

#infos{

    display: flex;
    flex-direction:column;
    justify-content: space-around;
    


    padding:20px 60px 20px;

    text-align: center;
}


#circle {
    
    margin: 5px auto;
    
    padding: 10px 20px 22px 20px;
    border:2px solid darkcyan;
    border-radius: 50%;

   width:85px;
   height:85px;


    color: darkcyan;
}

h1{text-align: center;
   padding-bottom: 55px;}


.ul{
    list-style-type: none;

    margin: 0 auto;
    padding:25px 25px 50px;

    background-color:silver;
    color:darkslategrey;

    border: none;
    border-radius: 15px;
    text-align: left;
}

.li{ 
    margin: 0 auto;
   
}

.crossed{
    text-decoration: line-through;
}

.eye {
    position: relative;

    left: -45px;
    top: 10px;
    width: 30px;
    height: 30px;
}

.profile-complete{
    font-size: 1.4em;
}